<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar ">
  <ul class="side-menu">
    <li class="slide">
      <a class="side-menu__item" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="side-menu__icon fa fa-home"></i><span class="side-menu__label">DASHBOARD</span></a>
    </li>
    <li>
      <a class="side-menu__item" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/settings']" ><i class="side-menu__icon fa fa-cog"></i><span class="side-menu__label">Geo Details</span></a>
    </li>
  </ul>
</aside>